body {
  margin: 0;
  font-family: "Sriracha", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Sriracha", cursive;
}
/* h2{
  font-size: 36px;
  font-weight: 400;
  width: 80%;
  margin: 10px 0px;
  color: #7f142d;
  font-weight: 400;
  font-family: "Sriracha", cursive;
  line-height: 50px;
}
p{
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-family: "Sriracha", cursive;
  margin-top: 20px;
}
 */
